Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [45]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [51]:
import pandas as pd
import pandas_profiling
import numpy as np

# Read New York City property sales data
df = pd.read_csv(DATA_PATH +'condos/NYC_Citywide_Rolling_Calendar_Sales.csv', parse_dates= ['SALE DATE'], index_col= 'SALE DATE')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [37]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [38]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

  # Remove outliers, mostly the very high end and the erroneous sold for zero. The Zero seems to be functioning as a NaN value, and we don't want those in our target variable
df = df[(df['SALE_PRICE'] > 0) &  (df['SALE_PRICE'] <= np.percentile(df['SALE_PRICE'], 99.5))]

In [39]:
import numpy as np
# WE are goig to take a look at what all this shenanigans has produced for us

df

      BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44          3                    OTHER  ...     550000  01/01/2019
61          4                    OTHER  ...     200000  01/01/2019
65          1                    OTHER  ...    2000000  01/02/2019
66          1                    OTHER  ...     330000  01/02/2019
67          1  UPPER EAST SIDE (79-96)  ...     600000  01/02/2019
...       ...                      ...  ...        ...         ...
23035       4                    OTHER  ...     510000  04/30/2019
23036       4                    OTHER  ...     355000  04/30/2019
23037       4                    OTHER  ...     375000  04/30/2019
23038       4                    OTHER  ...    1100000  04/30/2019
23039       4                    OTHER  ...     569202  04/30/2019

[16015 rows x 21 columns]

In [40]:
print(df.shape)
print(df.info())

(16015, 21)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16015 entries, 44 to 23039
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         16015 non-null  object
 1   NEIGHBORHOOD                    16015 non-null  object
 2   BUILDING_CLASS_CATEGORY         16015 non-null  object
 3   TAX_CLASS_AT_PRESENT            16014 non-null  object
 4   BLOCK                           16015 non-null  int64
 5   LOT                             16015 non-null  int64
 6   EASE-MENT                       0 non-null      float64
 7   BUILDING_CLASS_AT_PRESENT       16014 non-null  object
 8   ADDRESS                         16015 non-null  object
 9   APARTMENT_NUMBER                3891 non-null   object
 10  ZIP_CODE                        16014 non-null  float64
 11  RESIDENTIAL_UNITS               16014 non-null  float64
 12  COMMERCIAL_UNITS                16014 non-null  float64
 13  TOTAL_UNITS                     16014 non-null  float64
 14  LAND_SQUARE_FEET                15963 non-null  object
 15  GROSS_SQUARE_FEET               16014 non-null  float64
 16  YEAR_BUILT                      15983 non-null  float64
 17  TAX_CLASS_AT_TIME_OF_SALE       16015 non-null  int64
 18  BUILDING_CLASS_AT_TIME_OF_SALE  16015 non-null  object
 19  SALE_PRICE                      16015 non-null  int64
 20  SALE_DATE                       16015 non-null  object
dtypes: float64(7), int64(4), object(10)
memory usage: 2.7+ MB
None

In [41]:
# will drob the 'Ease-Ment' column just a bunch of nulls

print(df.columns)

df.drop('EASE-MENT', axis = 1, inplace = True)

df

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

      BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44          3                    OTHER  ...     550000  01/01/2019
61          4                    OTHER  ...     200000  01/01/2019
65          1                    OTHER  ...    2000000  01/02/2019
66          1                    OTHER  ...     330000  01/02/2019
67          1  UPPER EAST SIDE (79-96)  ...     600000  01/02/2019
...       ...                      ...  ...        ...         ...
23035       4                    OTHER  ...     510000  04/30/2019
23036       4                    OTHER  ...     355000  04/30/2019
23037       4                    OTHER  ...     375000  04/30/2019
23038       4                    OTHER  ...    1100000  04/30/2019
23039       4                    OTHER  ...     569202  04/30/2019

[16015 rows x 20 columns]