Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [64]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [65]:
import pandas as pd
import pandas_profiling
import numpy as np

# Read New York City property sales data
df = pd.read_csv(DATA_PATH +'condos/NYC_Citywide_Rolling_Calendar_Sales.csv', parse_dates= ['SALE DATE'], index_col= 'SALE DATE')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [66]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [68]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

  # Remove use prices between 100,000 and 2,000,000 dollars
df = df[(df['SALE_PRICE'] > 10000) &  (df['SALE_PRICE'] <= 2000000)]

In [69]:
import numpy as np
# As per instruction, we also need to take a look at the BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS'

df = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS']
# WE are goig to take a look at what all this shenanigans has produced for us

df

           BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE SALE_PRICE
SALE DATE                        ...
2019-01-01       3        OTHER  ...                             A9     550000
2019-01-01       4        OTHER  ...                             A1     200000
2019-01-02       2        OTHER  ...                             A1     810000
2019-01-02       3        OTHER  ...                             A1     125000
2019-01-02       3        OTHER  ...                             A5     620000
...            ...          ...  ...                            ...        ...
2019-04-30       4        OTHER  ...                             A2     635000
2019-04-30       4        OTHER  ...                             A1     514000
2019-04-30       4        OTHER  ...                             A0     635000
2019-04-30       4        OTHER  ...                             A1     545000
2019-04-30       4        OTHER  ...                             A5     510000

[3196 rows x 20 columns]

In [70]:
print(df.shape)
print(df.info())

(3196, 20)
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3196 entries, 2019-01-01 to 2019-04-30
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         3196 non-null   object
 1   NEIGHBORHOOD                    3196 non-null   object
 2   BUILDING_CLASS_CATEGORY         3196 non-null   object
 3   TAX_CLASS_AT_PRESENT            3196 non-null   object
 4   BLOCK                           3196 non-null   int64
 5   LOT                             3196 non-null   int64
 6   EASE-MENT                       0 non-null      float64
 7   BUILDING_CLASS_AT_PRESENT       3196 non-null   object
 8   ADDRESS                         3196 non-null   object
 9   APARTMENT_NUMBER                1 non-null      object
 10  ZIP_CODE                        3196 non-null   float64
 11  RESIDENTIAL_UNITS               3196 non-null   float64
 12  COMMERCIAL_UNITS                3196 non-null   float64
 13  TOTAL_UNITS                     3196 non-null   float64
 14  LAND_SQUARE_FEET                3196 non-null   object
 15  GROSS_SQUARE_FEET               3196 non-null   float64
 16  YEAR_BUILT                      3196 non-null   float64
 17  TAX_CLASS_AT_TIME_OF_SALE       3196 non-null   int64
 18  BUILDING_CLASS_AT_TIME_OF_SALE  3196 non-null   object
 19  SALE_PRICE                      3196 non-null   int64
dtypes: float64(7), int64(4), object(9)
memory usage: 524.3+ KB
None

In [71]:
# will drop the 'Ease-Ment' column just a bunch of nulls

print(df.columns)

df.drop('EASE-MENT', axis = 1, inplace = True)

df

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE'],
      dtype='object')

           BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE SALE_PRICE
SALE DATE                        ...
2019-01-01       3        OTHER  ...                             A9     550000
2019-01-01       4        OTHER  ...                             A1     200000
2019-01-02       2        OTHER  ...                             A1     810000
2019-01-02       3        OTHER  ...                             A1     125000
2019-01-02       3        OTHER  ...                             A5     620000
...            ...          ...  ...                            ...        ...
2019-04-30       4        OTHER  ...                             A2     635000
2019-04-30       4        OTHER  ...                             A1     514000
2019-04-30       4        OTHER  ...                             A0     635000
2019-04-30       4        OTHER  ...                             A1     545000
2019-04-30       4        OTHER  ...                             A5     510000

[3196 rows x 19 columns]

# II. Split Data

Split **target vector** from **feature matrix**.

In [72]:
target = 'SALE_PRICE'

y = df[target]
X = df.drop(columns = target)